name: CI
on:
  schedule:
    - cron: 0 5 1 */2 *
  workflow_run:
    types: [ completed ]
    workflows: [ Lint ]
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
env:
  NODE_ENV: development
jobs:
  run:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [ 20, 22, 24 ]
        os: [ ubuntu-latest ]
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install deps
        run: npm install
      - name: Run tests
        run: npm run test:cover
